<h1>Listing series</h1>

<table>
  <tr>
    <th>Name</th>
    <th>ep count</th>
    <th>Imdb</th>
    <th>Synopsis</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @series.each do |series| %>
  <tr>
    <td><%= series.name %></td>
    <td><%= series.episode_count %></td>
    <td><%= series.imdb_id %></td>
    <td><%= series.synopsis %></td>
    <td><%= link_to 'Show', series %></td>
    <td><%= link_to 'Edit', edit_series_path(series) %></td>
    <td><%= link_to 'Destroy', series, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Series', new_series_path %>
